body {
    width: 100%;
    overflow-x: hidden;
}

.padding-5per {
    padding: 5%;
}

.padding-top-5per {
    padding-top: 5%;
    padding-bottom: 5%;
}

.chord-button {
    height: 400px;
    padding-left: 3% !important;
}

.occupy-full {
    bottom: 400px;
}

.rounded {
    border-radius: 50%;
}

.absolute-bottom {
    bottom: 0;
}

#notes {
    padding: 5%;
}
